*.pyc
# Created by .ignore support plugin (hsz.mobi)
.idea/
*.komodoproject
virtenv/ # ignora il virtual env
static/ # ignora i file statici che vengono creati con il comando : manage.py collectstatic
