
<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Video Pills è una semplice e versatile app che  mette a disposizione dell'utente una vasta scelta di Video Pills,o più semplicemente Pills. I Pills non sono altro che video che contengono i momenti salienti di una puntata di una Serie selezionata  </p>
                </div>
                <div class="col-lg-4">
                    <p>Video Pills rappresenta un'ottima opzione per chiunque si fosse perso,o non si ricordasse,per svariate ragioni,i momenti più importanti della  puntata  della Serie seguita</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!--<a href="#" class="btn btn-lg btn-outline">-->
                        <!--<i class="fa fa-download"></i> Download Theme-->
                    <!--<a>-->
                </div>
            </div>
        </div>
    </section>