{% load static from staticfiles %}
<!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{% static 'img/pill.png' %}" alt="">
                    <div class="intro-text">
                        <span class="name">Videopills</span>
                        <form class="searchbox">
                            <input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
                            <input type="submit" class="searchbox-submit" value="CERCA!">
                            <span class="searchbox-icon before-search" id="search" onclick="search()">CERCA</span>
                        </form>
                        <hr class="star-light">
                        <span class="skills">Riguarda i momenti migliori delle tue Serie TV preferite grazie a  Videopills,
                            la prima app al mondo <!-- COME NO !? --> che ti fornisce la Pillola giusta per ogni puntata della Serie che segui da sempre
                            <p></p>
                            Inserisci nella barra di ricerca il nome o la puntata di cui non ricordi i momenti salienti e buona visione!
                        </span>
                    </div>
                    <div class="container">
                    </div>

                </div>
            </div>
        </div>
    </header>