{% extends 'skeleton/base.html' %}
{% block content %}

    {% load static %}
    <section>
            <div class="container">
            <h1> You searched for "{{query_string}}" and the results are listed below:</h1>
            {% if found_entries%}
                {%for video_container in found_entries %}
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                                <h2>{{video_container.episode_name}}</h2>
                                <hr class="star-primary">
                                <video id="{{video_container.episode_name.pk}}" class="video-js vjs-default-skin" controls
                                 preload="auto" width="640" height="264" poster="{% static 'img/portfolio/cabin.png' %}"
                                 data-setup="{}">
                                 <source src="{%get_media_prefix%}{{ video_container.episode_trailer_filename}}" type='video/mp4'>
                                 <!--source src="MY_VIDEO.webm" type='video/webm'-->
                                 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                                </video>
                                <p>
                                    {{video_container.custom_description}}
                                </p>

                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1>Non ci sono risultati per la tua ricerca!</h1>
            {% endif %}
            </div>

    </section>





{% endblock %}

{% block custom_footer %}

{%endblock %}




